{
  "env": {
    "node": true,
    "browser": true
  },
  "globals": {},
  "plugins": [],
  "rules": {
    "camelcase": true,
    "curly": [2, "multi-line"],
    "dot-notation": true,
    "eol-last": "false",
    "eqeqeq": true,
    "func-style": [2, "declaration"],
    "guard-for-in": true,
    "max-params": [2, 3],
    "new-cap": true,
    "new-parens": true,
    "no-array-constructor": true,
    "no-comma-dangle": true,
    "no-cond-assign": true,
    "no-constant-condition": true,
    "no-delete-var": true,
    "no-dupe-keys": true,
    "no-empty": false,
    "no-ex-assign": true,
    "no-extend-native": true,
    "no-extra-bind": true,
    "no-extra-boolean-cast": true,
    "no-extra-parens": true,
    "no-extra-semi": true,
    "no-invalid-regexp": true,
    "no-irregular-whitespace": true,
    "no-mixed-spaces-and-tabs": true,
    "no-multi-spaces": false,
    "no-multi-str": false,
    "no-native-reassign": true,
    "no-negated-in-lhs": true,
    "no-new-wrappers": true,
    "no-obj-calls": true,
    "no-process-exit": false,
    "no-redeclare": true,
    "no-sparse-arrays": true,
    "no-undef-init": true,
    "no-undefined": true,
    "no-underscore-dangle": false,
    "no-unreachable": true,
    "no-use-before-define": false,
    "no-with": true,
    "quotes": [1, "double", "avoid-escape"],
    "radix": true,
    "space-after-keywords": [1, "always", {
      "checkFunctionKeyword": true
    }],
    "space-before-blocks": [1, "always"],
    "space-infix-ops": true,
    "space-return-throw-case": true,
    "space-unary-ops": true,
    "strict": [2, "global"],
    "use-isnan": true,
    "valid-typeof": true,
    "wrap-iife": true,
    "yoda": true,
  }
}
